# Replace URL with your Saleor backend. Make sure to keep the slash at the end.
NEXT_PUBLIC_SALEOR_API_URL=https://storefront1.saleor.cloud/graphql/

# make sure to add it on production for correct canonical URLs
NEXT_PUBLIC_STOREFRONT_URL=http://localhost:3000

# Token used for fetching channels
SALEOR_APP_TOKEN=

TITLE= 
DESCRIPTION=
STORE_NAME=

# WhatsApp number for chat button (include country code, e.g., +1234567890)
NEXT_PUBLIC_WHATSAPP_NUMBER=